body {
  background: #232328;
}

.nav {
  position: relative;
  min-height: 150px;
  border: white solid 3px;
  margin-bottom: 15px;
}

.about-me {
  border: white solid 3px;
  color: white;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.about-me-text {
  font-family: 'Montserrat Light', sans-serif;
}

.about-me-image {
  border-radius: 50%;
  height: 150px;
  padding-bottom: 5px;
}

.projects {
  border: white solid 3px;
  margin-top: 15px;
  font-family: 'Montserrat Light', sans-serif;
  text-align: center;
}

.project-image {
  height: 150px;
}

.project-description {
  color: white;
  padding: 0 5px 0 5px;
}


/*.nav-title {
  color: #ae7045;
  font-family: Roboto;  
  position: absolute;
  bottom: 0;
  left: 25px;
}

.nav-links {
  position: absolute;
  bottom: 0;
  right: 25px;
}

.nav-link {
  color: white;
  display: inline; 
  text-decoration: none;
  padding-right: 5px
}*/


/*.greybox {
	background-color: grey;
	height: 200px;
	margin-bottom: 10px;
	display: block;
	border: black 3px solid;
	text-align: center;
	font-weight: bolder;
}

.greybox p {
	height: 100px;
  line-height: 150px;
  white-space: nowrap;
}

.header-image {
	width: 150px;
  height: auto;
  border-radius: 50%;
}

/* For when i build a nav bar*/
/*.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  padding-top: 16px;
  z-index: 99;
  transition: all 0.6s ease;
}*/